<div class="fb-container">
	<h1>Bienvenu sur l'app Facebook</h1>
	<hr>
	<div class="row">
		<div class="col-sm-12" ng-show="login === true">
			test
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button href="#" class="btn btn-success center-block" ng-click="login = true">Se connecter</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<button href="#" class="btn btn-primary center-block">Commencer la réservation</button>
		</div>
	</div>

	<button ng-click="fb()">test fb</button>
</div>
