.icon-tab{
	display: inline-block;
	width: 15px; 
}

.hr-right {
  border-right: 1px solid #EEEEEE;
}

.input-form-big{
	width: 60px;
}

.input-form-small{
	width: 40px;
}

.input-form-select{
	width: 60px;
	height: 27px;
}

.input-form-med{
	width: 50px;
}