@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

// injector
@import 'account/login/login.less';
@import 'business/business-newPrestation/business-newPrestation.less';
@import 'business/business-newRendezvous/business-newRendezvous.less';
@import 'business/business-newSchedule/business-newSchedule.less';
@import 'business/business-newStaff/business-newStaff.less';
@import 'business/business-prestations/business-prestations.less';
@import 'business/business-rendezvous/business-rendezvous.less';
@import 'business/business-schedules/business-schedules.less';
@import 'business/business-show/business-show.less';
@import 'business/business-staffs/business-staffs.less';
@import 'business/business-update/business-update.less';
@import 'business/business.less';
@import 'main/main.less';
@import 'rendezvous/rendezvous.less';
@import 'modal/modal.less';
// endinjector