@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.divider {
  height: 1px;
  width:100%;
  display:block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.full button span {
  background-color: limegreen;
  border-radius: 32px;
  color: black;
}
.partially button span {
  background-color: orange;
  border-radius: 32px;
  color: black;
}

.ng-pageslide {
  background: #eee;
}

/***************************************/
/**** CAPTIONS FOR thumbnail CLASS *****/
/***************************************/
/***************************************/
/******** GLOBAL CAPTION STYLES ********/
/***************************************/
.thumbnail{
max-width:400px;
position:relative;
overflow:hidden;
}
#caption-half-down h1, #caption-half-down h2, #caption-half-down h3, #caption-half-down h4, #caption-half-down h5, #caption-half-down h6, #caption-half-down p {
color:#FFF;
}
#caption-half-up h1, #caption-half-up h2, #caption-half-up h3, #caption-half-up h4, #caption-half-up h5, #caption-half-up h6, #caption-half-up p {
color:#FFF;
margin-top:5%;
}
#caption-half-up a, #caption-half-up button{
margin-top:5%;
}
/***************************************/
/********** CAPTION HALF DOWN **********/
/***************************************/
#caption-half-down{
position: absolute;
bottom: 100%;
left:0;
width: 100%;
height:50%;
background-color:@bgHighlight;
visibility: hidden;
opacity: 0;
border-bottom:ridge grey 1px;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s easthe-in-out;
transition: all 0.5s ease-in-out;
text-align:center;
}
.thumbnail-hover #caption-half-down{
visibility: visible;
opacity: 1;
-moz-transform: translateY(100%);
-o-transform: translateY(100%);
-webkit-transform: translateY(100%);
transform: translateY(100%);
height:50%;
}
/***************************************/
/*********** CAPTION HALF UP ***********/
/***************************************/
#caption-half-up{
position: absolute;
top: 100%
left:0px;
margin-left:-4px;
margin-top:4px;
border-top:ridge grey 1px;
width: 100%;
height:auto;
background-color: @bgHighlight;
visibility: hidden;
opacity: 0;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
text-align:center;
}
.thumbnail-hover #caption-half-up{
visibility: visible;
opacity: 1;
height:50%;
-moz-transform: translateY(-100%);
-o-transform: translateY(-100%);
-webkit-transform: translateY(-100%);
transform: translateY(-100%);
}


/*
 Custom Bootstrap theme navbar with TWBSColor
*/
@bgDefault      : #5fbcff;
@bgHighlight    : #1b8afc;
@colDefault     : #000000;
@colHighlight   : #ffffff;
@dropDown       : true;

.ddm() when (@dropDown) {
  > .dropdown-menu {
    background-color: @bgDefault;
    > li > a {
      color: @colDefault;
      &:hover,  &:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    .divider {
      background-color: @bgHighlight;}}}
.navbar-default {
  background-color: @bgDefault;
  border-color: @bgHighlight;
  .navbar-brand {
    color: @colDefault;
    &:hover, &:focus { 
      color: @colHighlight; }}
  .navbar-text {
    color: @colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: @colDefault;
        &:hover,  &:focus {
          color: @colHighlight; }}
      .ddm }
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
  .navbar-toggle {
    border-color: @bgHighlight;
    &:hover, &:focus {
      background-color: @bgHighlight; }
    .icon-bar {
      background-color: @colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: @colDefault; }
  .navbar-link {
    color: @colDefault;
    &:hover {
      color: @colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: @colDefault;
      &:hover, &:focus {
        color: @colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: @colHighlight;
        background-color: @bgHighlight; }}}
}
















// injector
@import 'account/login/login.less';
@import 'business/business-fb-page/business-fb-page.less';
@import 'business/business-prestations/business-prestations.less';
@import 'business/business-rendezvous/business-rendezvous.less';
@import 'business/business-schedules/business-schedules.less';
@import 'business/business-show/business-show.less';
@import 'business/business-staffs/business-staffs.less';
@import 'business/business.less';
@import 'fb/fb.less';
@import 'main/main.less';
@import 'rendezvous/rendezvous.less';
@import 'modal/modal.less';
// endinjector