<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img src="/assets/images/logo_vignette32x32.png" style="max-width:100px; margin-top: -6px;" alt="DirectHaircut"></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>

        <!-- staff menu -->
        <li class="dropdown" ng-show="isStaff()">
          <a href="#" ng-hide="isStaffCreated()" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion du salon<span class="caret"></span></a>
          <ul class="dropdown-menu">
            
            <li><a href="/business/show">Voir les infos du salon</a></li>
            <li><a href="/business/rendezvous">Voir les rendez-vous</a></li>
            <li><a href="/business/prestations">Voir les prestations</a></li>
            <li><a href="/business/schedules">Voir les tranches horaires</a></li>
            <li><a href="/business/staffs">Voir le personnel du salon</a></li>
            <li role="separator" class="divider"></li>

            <li>
              <a href="/business/rendezvous/step1">
                <i class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></i>
                Prendre un rendez-vous
              </a>
            </li>
            <li>
              <a href="/business/fb-page">
                <i class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></i>
                Gérer la page Facebook
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Créer un compte</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Se connecter</a></li>
        <li ng-show="isBusinessCreated()" ng-class="{active: isActive('/createBusiness')}"><a href="/createBusiness">Créer salon</a></li>
        <li ng-show="isStaffCreated()" ng-class="{active: isActive('/createStaff')}"><a href="/createStaff">Créer staff</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/myRendezvous')}"><a href="/myRendezvous">Mes rendez-vous</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/notifs')}"><a href="/notifs"><span class="glyphicon glyphicon-envelope"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Se déconnecter</a></li>
      </ul>
    </div>

  </div>
</div>
