<nav class="navbar navbar-default navbar-lower" role="navigation" ng-controller="NavbarSecondryCtrl">
  <div class="container">
    <div class="collapse navbar-collapse collapse-buttons">
      <form class="navbar-form navbar-left" role="search">

        <!-- Salon button -->
        <div class="btn-group" dropdown is-open="status1.isopen">
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-click="toggleDropdown(status1)">
            Le salon <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/business/show">Voir les infos du salon</a></li>
            <li class="divider"></li>
            <li>
              <a href="/business/update">
                <i class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></i>
                Modifier les infos du salon
              </a>
            </li>
          </ul>
        </div>
        
        <!-- Rendezvous button -->
        <div id="rendezvous" class="btn-group" dropdown is-open="status5.isopen">
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-click="toggleDropdown(status5)">
            Rendez-vous <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/business/rendezvous">Voir les rendez-vous</a></li>
            <li class="divider"></li>
            <li>
              <a href="/business/newRendezvous">
                <i class="glyphicon glyphicon glyphicon-book" aria-hidden="true"></i>
                Prendre un rendez-vous
              </a>
            </li>
          </ul>
        </div>

        <!-- Prestation button -->
        <div id="prestation" class="btn-group" dropdown is-open="status2.isopen">
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-click="toggleDropdown(status2)">
            Prestations <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/business/prestations">Voir les prestations</a></li>
            <li class="divider"></li>
            <li>
              <a href="/business/newPrestation">
                <i class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></i>
                Ajouter une prestation
              </a>
            </li>
          </ul>
        </div>

        <!-- Horaires button -->
        <div id="horaire" class="btn-group" dropdown is-open="status3.isopen">
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-click="toggleDropdown(status3)">
            Horaires <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/business/schedules">Voir les tranches horaires</a></li>
            <li class="divider"></li>
            <li>
              <a href="/business/newSchedule">
                <i class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></i>
                Ajouter une tranche horaire
              </a>
            </li>
          </ul>
        </div>

        <!-- Staff button -->
        <div id="staff" class="btn-group" dropdown is-open="status4.isopen">
          <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-click="toggleDropdown(status4)">
            Personnel <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/business/staffs">Voir le personnel du salon</a></li>
            <li class="divider"></li>
            <li>
              <a href="/business/newStaff">
                <i class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></i>
                Ajouter un membre au personnel
              </a>
            </li>
          </ul>
        </div>

        <button class="btn btn-info">Status</button>
      </form>
    </div>
  </div>
</nav>
