<!-- Confirmation du rendez-vous -->

<div class="text-center">

    <div>
    	<h4>Résumé du rendez-vous</h4>
    	<p>{{formData.businessName}}</p>
    	<p>{{formData.zip}} {{formData.city}} ({{formData.canton}})</p>
    	<p>{{formData.street}}</p>
    	<p>{{formData.user.name}}</p>
    	<p>{{formData.staff.name}}</p>
    	<p>{{formData.prestation.name}}</p>
    	<p>{{formData.prestation.prices.price}}</p>
    	<p>{{formData.prestation.duration}}</p>
    	<p>{{formData.date.startHour}}</p>
    	<p>{{formData.date.endHour}}</p>
    </div>

    <button type="submit" class="btn btn-success" ng-click="bookRendezvous(formData)">Réserver</button>
    <button type="submit" class="btn btn-danger" ng-click="cancelRendezvous()">Annuler</button>
</div>
