<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    le salon favori
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
      <!-- Desktop display -->
      <h1 class="page-header hidden-sm hidden-xs">Salons disponibles :</h1>
      <!-- Mobile display -->
      <h3 class="page-header hidden-lg hidden-md">Salons disponibles :</h3>

      <div class="col-md-3 col-lg-3 hidden-sm hidden-xs" ng-repeat="business in businesses">
        
        <!-- Desktop display -->
        <div class="thumbnail no-border" ng-class="{ 'thumbnail-hover': $index == selectedIndex }"
             ng-click="itemClicked($index)">
          <img src="http://puu.sh/iXIRi/9772ad7aa5.png" class="img-rounded" />
          <div class="caption" id="caption-half-down">
            <h4>Réservez ou visualisez les infos de ce salon !</h4>
          </div>
          <div class="caption" id="caption-half-up">
            <a ng-href="/business/{{business._id}}" class="btn btn-default btn-sm"><i class="fa fa-info"> Infos</i></a>
            <a ng-href="/business/{{business._id}}/rendezvous/step1" class="btn btn-default btn-sm"><i class="fa fa-book"> Rendez-vous</i></a>
            <a ng-click="fav(business._id)" class="btn btn-default btn-sm"><i class="fa fa-star"> Favori</i></a>
          </div>
        </div>
        <h4 class="text-center">{{business.name}}</h4>
        <p class="text-center">{{business.zip}} {{business.city}}</p>
    </div>

    <!-- Mobile display -->
    <div class="hidden-lg hidden-md col-sm-4 col-xs-12" ng-repeat="business in businesses">
      <h4 class="text-center">{{business.name}}</h4>
      <p class="text-center">{{business.zip}} {{business.city}}</p>
      <div class="text-center">
        <a ng-href="/bussiness/{{business._id}}" class="btn btn-primary btn-sm btn-mgn-bottom"><i class="fa fa-info"> Infos</i></a>
        <a href="/business/{{business._id}}/rendezvous/step1" class="btn btn-primary btn-sm btn-mgn-bottom"><i class="fa fa-book"> Rendez-vous</i></a>
        <a ng-click="fav(business._id)" class="btn btn-primary btn-sm btn-mgn-bottom"><i class="fa fa-star"> Favori</i></a>
      </div>
      <hr>
    </div>

  </div>
</div>

<a ng-href="/fb">test</a>

<footer class="footer">
  <div class="container">
      <p>TB2015 | Direct Haircut |
        <a href="https://github.com/LL0892/TB2015">Git projet</a></p>
  </div>
</footer>
