<div ng-include="'components/navbar/navbar.html'"></div>

<!-- Salon favori -->
<header class="hero-unit" id="banner" ng-if="isLoggedIn()">
  <div class="container">
    <h2>Votre salon favori</h2>
    <hr>
    <p ng-show="currentUser.preferences.favorite === undefined">Il n'y a pas de salon favori trouvé.</p>
    <div ng-show="currentUser.preferences.favorite !== undefined">
      <p>{{favoriteBusiness.name}}</p>
      <p>{{favoriteBusiness.zip}} {{favoriteBusiness.city}} ({{favoriteBusiness.canton}})</p>
      <a ng-href="/business/{{favoriteBusiness._id}}" class="btn btn-default btn-sm"><i class="fa fa-info"> Infos</i></a>
      <a ng-href="/business/{{favoriteBusiness._id}}/rendezvous/step1" class="btn btn-default btn-sm"><i class="fa fa-book"> Rendez-vous</i></a>
    </div>
  </div>
</header>

<!-- Liste des salons -->
<div class="container">
  <div class="row">

    <!-- when connected -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      
      <!-- Desktop display -->
      <h1 class="page-header hidden-sm hidden-xs">Salons disponibles :</h1>
      <!-- Mobile display -->
      <h3 class="page-header hidden-lg hidden-md">Salons disponibles :</h3>

      <div class="col-md-3 col-lg-3 hidden-sm hidden-xs" ng-repeat="business in businesses">
        <div class="thumbnail no-border" ng-class="{ 'thumbnail-hover': $index == selectedIndex }"
             ng-click="itemClicked($index)">
          <img src="/assets/images/businessPlaceholder.png" class="img-rounded" />
          <div class="caption" id="caption-half-down">
            <h4>Réservez ou visualisez les infos de ce salon !</h4>
          </div>
          <div class="caption" id="caption-half-up">
            <a ng-href="/business/{{business._id}}" class="btn btn-default btn-sm"><i class="fa fa-info"> Infos</i></a>
            <a ng-href="/business/{{business._id}}/rendezvous/step1" class="btn btn-default btn-sm" ng-show="isLoggedIn()"><i class="fa fa-book"> Rendez-vous</i></a>
            <a ng-click="fav(business._id)" class="btn btn-default btn-sm" ng-show="isLoggedIn()"><i class="fa fa-star"> Favori</i></a>
          </div>
        </div>
        <h4 class="text-center">{{business.name}}</h4>
        <p class="text-center">{{business.zip}} {{business.city}} ({{business.canton}})</p>
      </div>

      <!-- Mobile display -->
      <div class="hidden-lg hidden-md col-sm-4 col-xs-12" ng-repeat="business in businesses">
        <h4 class="text-center">{{business.name}}</h4>
        <p class="text-center">{{business.zip}} {{business.city}} ({{business.canton}})</p>
        <div class="text-center">
          <a ng-href="/business/{{business._id}}" class="btn btn-primary btn-sm btn-mgn-bottom"><i class="fa fa-info"> Infos</i></a>
          <a href="/business/{{business._id}}/rendezvous/step1" class="btn btn-primary btn-sm btn-mgn-bottom" ng-show="isLoggedIn()"><i class="fa fa-book"> Rendez-vous</i></a>
          <a ng-click="fav(business._id)" class="btn btn-primary btn-sm btn-mgn-bottom" ng-show="isLoggedIn()"><i class="fa fa-star"> Favori</i></a>
        </div>
        <hr>
      </div>

    </div>

  </div>
</div>

<!-- <a ng-href="/pagetab/step1">test</a> -->

<footer class="footer">
  <div class="container">
      <p>Direct Haircut | réalisé par Laurent Lienher, Travail de Bachelor | HEIG-VD, Ingénierie des Médias</p>
  </div>
</footer>
