<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    
    <div class="col-sm-8">
      <h2>Creation du salon</h2>
    </div>


	  <form class="form" name="form" ng-submit="register(form)" novalidate>

	  	<!-- name -->
	    <div class="row">
	      <div class="col-sm-4 col-sm-offset-3">
	        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
	                                            'has-error': form.name.$invalid && submitted }">
	          <label>Nom du salon <i class="fa fa-asterisk"></i></label>

	          <input type="text" name="name" class="form-control" ng-model="business.name"
	                 required/>
	          <p class="help-block" ng-show="form.name.$error.required && submitted">
	            Un nom de salon est requis.
	          </p>
	        </div>
	      </div>
	    </div>



	    <hr>
	    <h4>Localisation</h4>

        <!-- localite custom template -->
        <script type="text/ng-template" id="localiteTemplate.html">
          <a>
            <span bind-html-unsafe="match.model.Commune | typeaheadHighlight:query"></span>
            (<span bind-html-unsafe="match.model.NPA | typeaheadHighlight:query"></span>)
          </a>
        </script>

	    <!-- localité, npa, canton -->
	    <div class="row">
	      <div class="col-sm-4 col-sm-offset-3"><label>Localité <i class="fa fa-asterisk"></i></label>
	        <input type="text" ng-model="business.loc" ng-bind="business.loc.Commune" typeahead-min-length="3" typehead-on-select(model) typeahead-editable="false" typeahead="geodata as geodata.Commune for geodata in geodatas | filter:$viewValue" class="form-control" typeahead-template-url="localiteTemplate.html">
	      </div>
	      <div class="col-sm-2"><label>NPA <i class="fa fa-asterisk"></i></label>
	        <input type="text" ng-model="business.loc" ng-bind="business.loc.NPA" typeahead-min-length="2" typehead-on-select(model) typeahead-editable="false" typeahead="geodata as geodata.NPA for geodata in geodatas | filter:$viewValue | limitTo:8" class="form-control" disabled>
	      </div>
	      <div class="col-sm-2"><label>Canton <i class="fa fa-asterisk"></i></label>
	        <input type="text" ng-model="business.loc" ng-bind="business.loc.Canton" typehead-on-select(model) typeahead-editable="false" typeahead="geodata as geodata.Canton for geodata in geodatas | filter:$viewValue | limitTo:8" class="form-control" disabled>
	      </div>
	    </div>

	    <!-- adresse -->
	    <div class="row">
	      <div class="col-sm-4 col-sm-offset-3">
	        <div class="form-group" ng-class="{ 'has-success': form.street.$valid && submitted,'has-error': form.street.$invalid && submitted }">
	          <label>Adresse et numéro de rue <i class="fa fa-asterisk"></i></label>

	          <input type="text" name="street" class="form-control" ng-model="business.street" required/>
	          <p class="help-block" ng-show="form.street.$error.required && submitted">
	            Une adresse est requise.
	          </p>
	        </div>
	      </div>
	    </div>



	    <hr>
	    <h4>Contact</h4>

	    <div class="row">

	      <!-- email -->
	      <div class="col-sm-4 col-sm-offset-3">
	        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
	                                            'has-error': form.email.$invalid && submitted }">
	          <label>Email</label>

	          <input type="email" name="email" class="form-control" ng-model="business.email"
	                 mongoose-error/>
	          <p class="help-block" ng-show="form.email.$error.email && submitted">
	            Ce n'est pas une adresse mail valide.
	          </p>
	          <p class="help-block" ng-show="form.email.$error.mongoose">
	            {{ errors.email }}
	          </p>
	        </div>
	      </div>

	      <!-- mobile -->
	      <div class="col-sm-2">
	        <div class="form-group" ng-class="{ 'has-success': form.mobile.$valid && submitted,
	                                            'has-error': form.mobile.$invalid && submitted }">
	          
	          <label>Mobile</label>
	          <input type="tel" name="mobile" class="form-control" ng-model="business.mobile" ng-minlength="3" mongoose-error/>

	          <p class="help-block" ng-show="(form.mobile.$error.minlength || form.mobile.$error.required) && submitted">
	            Le numéro de téléphone mobile est incomplet.
	          </p>
	          <p class="help-block" ng-show="form.mobile.$error.mongoose">
	            {{ errors.mobile }}
	          </p>
	        </div>
	      </div>

	      <!-- phone -->
	      <div class="col-sm-2">
	        <div class="form-group" ng-class="{ 'has-success': form.phone.$valid && submitted,
	                                            'has-error': form.phone.$invalid && submitted }">

	          <label>Téléphone</label>
	          <input type="tel" name="phone" class="form-control" ng-model="business.phone" ng-minlength="3" mongoose-error/>
	          
	          <p class="help-block" ng-show="form.phone.$error.mongoose">
	            {{ errors.phone }}
	          </p>
	        </div>
	      </div>

	    </div>



	    <hr>
	    <h4>Web</h4>

	    <!-- urls -->
	    <div class="row">
	        <div class="col-sm-4 col-sm-offset-3">
	            <label>Lien du site web</label>
	            
	            <div class="form-group" ng-class="{ 'has-success': form.siteURL.$valid && submitted, 'has-error': form.siteURL.$invalid && submitted }">
				<input type="url" name="siteURL" class="form-control" ng-model="business.siteURL" mongoose-error/>	
	              <p class="help-block" ng-show="form.siteURL.$error.mongoose">
	                {{ errors.siteURL }}
	              </p>
	            </div>
	        </div>

	        <div class="col-sm-4">
	          <div class="form-group" ng-class="{ 'has-success': form.facebookURL.$valid && submitted, 'has-error': form.facebookURL.$invalid && submitted }">
	            <label>Lien de la page Facebook</label>

	            <input type="url" name="facebookURL" class="form-control" ng-model="business.facebookURL" mongoose-error/>	
	            <p class="help-block" ng-show="form.facebookURL.$error.mongoose">
	              {{ errors.facebookURL }}
	            </p>
	          </div>
	        </div>
	    </div>
	    <hr>

	    <!-- buttons -->
	    <div class="row">
	      <div class="col-sm-4 col-sm-offset-3">
	        <button class="btn btn-success" type="submit">
	          Créer le salon
	        </button>
	        <a class="btn btn-danger" href="/">
	          Annuler
	        </a>
	      </div>
	    </div>

	  </form>
  </div>
  <hr>
</div>
