<div ng-include="'components/navbar/navbar.html'"></div>

<div id="container">
	<div class="row">
		<form class="form" name="form" ng-submit="search(defaultWeek, defaultStaff)" novalidate>
			<div class="col-sm-4 col-sm-offset-3 col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-4">

				<div class="form-group">
				  <label>Choissisez la semaine de recherches</label>
				  <select class="form-control" ng-model="defaultWeek" ng-options="week.label for week in weeks">
				    <option value=""> --- Choisir une semaine --- </option>
				  </select>
				</div>

				<div class="form-group">
				  <label>Choissisez un membre du staff</label>
				  <select class="form-control" ng-model="defaultStaff" ng-options="staff.name for staff in staffs">
				    <option value=""> --- Choisir un staff --- </option>
				  </select>
				</div>
				<button class="btn btn-default" type="submit">
            		Rechercher
          		</button>
			</div>
		</form>
	</div>

	<hr>
	<p>{{message}}</p>

	<!-- champ de recherche -->
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<label ng-show="rendezvous !== undefined">Recherche: <input ng-model="searchText"></label>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3  col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>Client</th>
							<th>Prestation</th>
							<th>Date</th>
							<th>Début</th>
							<th>Fin</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="rdv in rendezvous | filter: searchText">
							<td>{{rdv.client.clientName}}</td>
							<td>{{rdv.prestation.prestationRdvName}}</td>
							<td>{{rdv.startHour | date:'fullDate'}}</td>
							<td>{{rdv.startHour | date:'shortTime'}}</td>
							<td>{{rdv.endHour | date:'shortTime'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>