<div ng-include="'components/navbar/navbar.html'"></div>

<div id="container">
	<div class="row">
		<form class="form" name="form" ng-submit="search(defaultWeek, defaultStaff)" novalidate>
			<div class="col-sm-4 col-sm-offset-3 col-xs-10 col-xs-offset-1 col-md-3 col-md-offset-4">

				<div class="form-group">
				  <label>Choissisez la semaine de recherches</label>
				  <select class="form-control" ng-model="defaultWeek" ng-options="week.label for week in weeks">
				    <option value=""> --- Choisir une semaine --- </option>
				  </select>
				</div>

				<div class="form-group">
				  <label>Choissisez un membre du staff</label>
				  <select class="form-control" ng-model="defaultStaff" ng-options="staff.name for staff in staffs">
				    <option value=""> --- Choisir un staff --- </option>
				  </select>
				</div>
				<button class="btn btn-default" type="submit">
            		Rechercher
          		</button>
			</div>
		</form>
	</div>

	<hr>
	<p>{{message}}</p>

	<div class="row">
		<div class="col-sm-6 col-sm-offset-3  col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
			<div ng-repeat="rdv in rendezvous">
				<table class="table">
					<thead>
						<tr>
							<th>Client</th>
							<th>Débute</th>
							<th>Fini</th>
							<th>Prestation</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{rdv.client.clientName}}</td>
							<td>{{rdv.startHour}}</td>
							<td>{{rdv.endHour}}</td>
							<td>{{rdv.prestation.prestationRdvName}}</td>
							<td><img ng-scr="{{staff.photoStaffURL}}"></img></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>