<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<form class="form" name="form" ng-submit="submit(form)">

		        <!-- name -->
		        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
		                                            'has-error': form.name.$invalid && submitted }">
		          <label>Nom</label>

		          <input type="text" name="name" class="form-control" ng-model="prestation.name" placeholder="p. ex. coupe de cheveux" required/>
		          <p class="help-block" ng-show="form.name.$error.required && submitted">
		            Un nom est requis.
		          </p>
		        </div>

		       	<!-- shortDescription -->
		        <div class="form-group" ng-class="{ 'has-success': form.shortDescription.$valid && submitted,
		                                            'has-error': form.shortDescription.$invalid && submitted }">
		          <label>Description courte</label>

		          <textarea type="text" name="shortDescription" class="form-control" ng-model="prestation.shortDescription" placeholder="une description de moins de 50 charactères" required/>
		          <p class="help-block" ng-show="form.shortDescription.$error.required && submitted">
		            Une description est requise.
		          </p>
		        </div>

		        <!-- Description -->
		        <div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted,
		                                            'has-error': form.description.$invalid && submitted }">
		          <label>Description</label>

		          <textarea name="description" class="form-control" ng-model="prestation.description" placeholder="une description de moins de 200 charactères"  required/>
		          <p class="help-block" ng-show="form.description.$error.required && submitted">
		            Une description est requise.
		          </p>
		        </div>

		        <!-- duration -->
				<div class="form-group">
				  <label for="duration">Durée (minutes) :</label>
				  <select class="form-control" id="duration" ng-model="prestation.duration" required>
				    <option value="5" selected>5</option>
				    <option value="10">10</option>
				    <option value="15">15</option>
				    <option value="20">20</option>
				    <option value="25">25</option>
				    <option value="30">30</option>
			    	<option value="35">35</option>
				    <option value="40">40</option>
				    <option value="45">45</option>
				    <option value="50">50</option>
				    <option value="55">55</option>
				    <option value="60">60</option>
				    <option value="65">65</option>
				    <option value="70">70</option>
				    <option value="75">75</option>
				    <option value="80">80</option>
				    <option value="85">85</option>
				    <option value="90">90</option>
			    	<option value="95">95</option>
				    <option value="100">100</option>
				    <option value="105">105</option>
				    <option value="110">110</option>
				    <option value="115">115</option>
				    <option value="120">120</option>
				  </select>
				</div>

        	<!-- Buttons -->
	        <div class="button-margins">
	          <button class="btn btn-success" type="submit">
	           	Envoyer
	          </button>
	          <button class="btn btn-danger" ng-click="prestation = null">
	           	Effacer
	          </button>
	          <a class="btn btn-default pull-right" href="/business/prestations">
	           	Retour liste prestations
	          </a>
	        </div>

			</form>
		</div>
	</div>
</div>