<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/navbar/navbar-secondary.html'"></div>

<div class="container">
	<div class="row" ng-repeat="schedule in schedules">
		<div class="col-sm-6">
			<!-- visualisation mode -->
			<div ng-show="modif===false">
				<p>Jours : {{schedule.dayName}}</p>
				<!--<p>Description : {{schedule.description}}</p>-->
				<p>Heures : {{schedule.startHour}} - {{schedule.endHour}}</p>
				<p>Jour Ouvrable : {{schedule.workingDay}}</p>
			</div>
			<div ng-show="modif===true">
				<input type="text" ng-bind="schedule.dayName" ng-model="schedule.dayName">
				<input type="text" ng-bind="schedule.description" ng-model="schedule.description">
				<select type="text" ng-bind="schedule.startHour" ng-model="schedule.startHour">
				<select ng-model="schedule.startHour" ng-options="o as o for o in options"></select>
				<select type="text" ng-bind="schedule.endHour" ng-model="schedule.endHour">
				<input type="text" ng-bind="schedule.workingDay" ng-model="schedule.workingDay">
			</div>
		</div>
		<div class="col-sm-6">
			<p>staffs affiliés :</p>
			<!-- visualisation mode -->
			<ul ng-show="modif===false">
				<li ng-repeat="staff in schedule.staffs">
					{{staff.name}}
				</li>
			</ul>
			<!-- edit mode -->
			<label ng-repeat="staff in staffs" ng-show="modif===true">
			  <input
			    type="checkbox"
			    name="selectedStaff[]"
			    value="{{staff._id}}"
			    ng-checked="selection.indexOf(staff._id) > -1"
			    ng-click="toggleSelection(staff._id, hover)"
			  > {{staff.name}}
			</label>
		</div>
		<button class="hidden-xs btn" ng-click="modif=true; index($index)" ng-show="modif===false">Modifier</button>
		<button class="hidden-xs btn" ng-click="modif=false; confirm(checkbox)" ng-show="modif===true">Confirmer</button>
		<button class="hidden-xs btn" ng-click="modif=false" ng-show="modif===true">Annuler</button>
		<hr>
	</div>
</div>